@keyframes rainbow-border {
  0% {
    border-color: rgb(245, 138, 72);
  }
  10% {
    border-color: orange;
  }
  20% {
    border-color: rgb(238, 238, 128);
  }
  30% {
    border-color: rgb(172, 255, 172);
  }
  40% {
    border-color: rgb(133, 133, 255);
  }
  50% {
    border-color: rgb(209, 145, 255);
  }
  60% {
    border-color: violet;
  }
  70% {
    border-color: rgb(202, 143, 202);
  }
  80% {
    border-color: pink;
  }
  90% {
    border-color: skyblue;
  }
  100% {
    border-color: rgb(243, 128, 128);
  }
}

body {
  background-color: black;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.game {
  width: 800px;
  height: 500px;
  background: url('img/background.png') center/cover;
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.game__header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.game__level {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  text-align: center;
  line-height: 30px;
  width: 60px;
  height: 30px;
  border: 3px solid black;
  border-radius: 10px;
  font-size: 20px;
  visibility: hidden;
}

.game__button {
  width: 60px;
  height: 60px;
  font-size: 24px;
  border-radius: 5px;
  border: 4px solid black;
  background-color: wheat;
  transition: all 300ms ease-in;
}

.game__button:hover {
  transform: scale(1.1);
}

.game__timer {
  text-align: center;
  background-color: white;
  width: 120px;
  font-size: 44px;
  border-radius: 20px;
  border: 4px solid black;
  margin-top: 8px;
  visibility: hidden;
  user-select: none;
  cursor: auto;
}

.game__score {
  background-color: rgb(239, 140, 2);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 46px;
  border: 3px solid black;
  margin-top: 6px;
  color: white;
  visibility: hidden;
  user-select: none;
  cursor: auto;
}

.game__field {
  position: relative;
  width: 100%;
  height: 100%;
  /* margin-top: 40px; */
}

.carrot,
.bug {
  transition: transform 100ms ease;
  user-select: none;
}

.carrot:hover,
.bug:hover {
  transform: scale(1.1);
}

.pop-up {
  position: relative;
  width: 800px;
  height: 500px;
  background-color: #00000078;
  margin: auto;
  transform: translateY(-100%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-around;
  transition: all 300ms ease-out;
}

.pop-up.pop-up--hide {
  user-select: none;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.8) translateY(-90%);
}

.pop-up__description {
  font-weight: bold;
  margin: 10px;
  font-size: 40px;
  color: rgb(255, 255, 255);
}

.pop-up__ranking {
  /* background-color: aquamarine; */
  width: 95%;
  height: 85%;
}

/* st, nd 표기 */
.ranking__list {
  /* margin-top: 10px; */
  margin: 0;
  padding: 0 40px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none; /* 기본적으로 숫자 대신 사용할 스타일링을 설정 */
  counter-reset: my-counter; /* 카운터를 초기화 */
}

.ranking__item::before {
  counter-increment: my-counter; /* 카운터를 1씩 증가 */
  content: counter(my-counter) 'st'; /* 카운터 값을 표시하고 "st" 문자열 추가 */
  font-size: 25px; /* 폰트 크기 설정 */
  font-weight: bold; /* 폰트 굵기 설정 */
  margin-right: 10px; /* 숫자와 문자열 사이의 간격 설정 */
  position: absolute;
  top: 10px;
  left: 25px;
  color: rgb(4, 0, 0);
}

.ranking__item:nth-child(2)::before {
  content: counter(my-counter) 'nd 🏅'; /* 두 번째 .ranking__item 요소의 카운터 값 대신 "2nd" 표시 */
  color: gold;
}

.ranking__item:nth-child(3)::before {
  content: counter(my-counter) 'rd 🥈'; /* 세 번째 .ranking__item 요소의 카운터 값 대신 "3rd" 표시 */
  color: rgb(217, 217, 217);
}

.ranking__item:nth-child(4)::before {
  content: counter(my-counter) 'th 🥉'; /* 4번째 이후 .ranking__item 요소의 카운터 값 대신 "th" 표시 */
  color: rgb(155, 67, 20);
}

.ranking__item:nth-child(n + 5)::before {
  content: counter(my-counter) 'th'; /* 4번째 이후 .ranking__item 요소의 카운터 값 대신 "th" 표시 */
}

.ranking__list > ul,
.ranking__list > li > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* height: 40px; */
}

.ranking__list > ul > li {
  /* background-color: bisque; */
  color: aliceblue;
  font-weight: bold;
  width: 120px;
  height: 15px;
  font-size: 15px;
  text-align: center;
  line-height: 15px;
}
.ranking__list > li > ul > li {
  /* background-color: aliceblue; */
  /* font-weight: bold; */
  width: 120px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  color: rgb(0, 0, 0);
}

.ranking__list > li > ul > li.name,
.ranking__list > ul > li.name {
  width: 180px;
}

.ranking__item {
  background-color: rgba(255, 255, 255, 0.261);
  border-radius: 5px;
  position: relative;
  /* 기존 스타일 */
  /* border: 2px solid black; */
}

.ranking__item.player {
  background-color: rgba(255, 240, 30, 0.326);
  border: 2px solid;
  animation: rainbow-border 10s infinite;
}

.input__form {
  /* background-color: aquamarine; */
  padding-left: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form__text {
  width: 100%;
  height: 30px;
  border: none;
  background-color: rgba(189, 230, 255, 0.627);
  color: rgb(5, 0, 0);
  font-size: 20px;
  text-align: center;
  /* font-weight: bold; */
  outline: none;
  /* border: 2px solid rgb(255, 179, 120); */
  border-radius: 5px;
  text-decoration: none;
  border-bottom: 1px solid transparent; /* 밑줄을 투명한 색으로 만듭니다 */
  box-shadow: none; /* 그림자를 제거합니다 */
}

.form__submit {
  width: 40px;
  height: 100%;
  font-size: 20px;
  background-color: transparent;
  border: none;
  transition: all 300ms ease-in;
}

.form__submit:hover {
  transform: scale(1.2);
  color: red;
}

.pop-up__refresh {
  position: absolute;
  right: 30px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 24px;
  border: 3px solid black;
  background-color: wheat;
  transition: all 300ms ease-in;
}

.pop-up__refresh:hover {
  transform: scale(1.1);
}

.pop-up__message {
  font-size: 24px;
  color: white;
}

.space {
  width: 70px;
}
